.container {
    background-color: rgb(133, 132, 134);
    color: black;
    padding: 10px;
    width: 400px;
    height: 400px;
    overflow-y: scroll;
}

/* 

overflow: hidden;
overflow: scroll;
overflow-y: scroll;
overflow-x: scroll;
*/