body {
    background-color: lightgreen;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    
}

.horizont {
    object-position: center;
}

.vertical {
    object-position: top;
}